.container {
    margin-bottom: 20px;
}

.player-img {
    max-height: 100px;
    max-width: 100px;
}

.cap-img {
    margin: auto;
    max-height: 70px;
    max-width: 70px;
}

mat-card {
    min-width: 190px;
    max-height: 100px;
}