.container {
    margin-bottom: 20px;
}

.player-img {
    max-height: 100px;
    max-width: 100px;
}

.cap-img {
    margin: auto;
    max-height: 130px;
    max-width: 130px;
}

mat-card {
    min-width: 180px;
}