.container {
    margin-top: 20px;
}

.field {
    min-height: 480px;
    text-align: center;
}

div.image {
    background-image: url("../../../assets/field3.png");
    background-size: cover;
}

.player-name {
    color: white;
    background-color: indigo;
    border-color: indigo;
    border-style: solid;
    border-width: 1px 7px;
    border-radius: 5px;
}

.bench {
    border: 5px solid lightgrey;
    border-radius: 3px; 
    padding: 5px;
}

.player-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

.player-img {
    max-height: 80px;
}