<div class="container">
    <div class="row">
        <div class="cols-xs-6 col-sm-6 col-md-6 image img-responsive" style="min-height: 480px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"
                    style="text-align: center; margin-bottom: 20px; margin-top: 20px;">
                    <a routerLink="/">
                        <img src="../../../assets/shirt.webp" alt="" style="max-height: 80px;">
                        <div class="row">
                            <b style="color: white; background-color: indigo">Ime Prezime</b>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let number of [0,1,2,3]"
                    style="text-align: center; margin-bottom: 20px;">
                    <a routerLink="/">
                        <img src="../../../assets/shirt.webp" alt="" style="max-height: 80px;">
                        <div class="row">
                            <b style="color: white; background-color: indigo">Ime Prezime</b>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let number of [0,1,2,3]"
                    style="text-align: center; margin-bottom: 20px;">
                    <a routerLink="/">
                        <img src="../../../assets/shirt.webp" alt="" style="max-height: 80px;">
                        <div class="row">
                            <b style="color: white; background-color: indigo">Ime Prezime</b>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6" *ngFor="let number of [0,1]"
                    style="text-align: center; margin-bottom: 20px;">
                    <a routerLink="/">
                        <img src="../../../assets/shirt.webp" alt="" style="max-height: 80px;">
                        <div class="row">
                            <b style="color: white; background-color: indigo">Ime Prezime</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="cols-xs-6 col-sm-6 col-md-6"  style="border: 5px solid lightgrey; border-radius: 3px; padding: 5px;">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let number of [0,1,2,3]"
                    style="text-align: center; margin-bottom: 20px;">
                    <a routerLink="/">
                        <img src="../../../assets/shirt.webp" alt="" style="max-height: 80px;">
                        <div class="row">
                            <b style="color: white; background-color: indigo">Ime Prezime</b>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>