.container {
    margin-top: 20px;
}

.field {
    min-height: 480px;
    text-align: center;
}

div.image {
    background-image: url("../../../assets/field3.png");
    background-size: cover;
}

.bench {
    border: 5px solid lightgrey;
    border-radius: 3px; 
    padding: 5px;
}

.bench-players {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}