<h1 mat-dialog-title>Save Team</h1>
<div mat-dialog-content>
    <form class="example-form" #f="ngForm">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Team Name</mat-label>
            <input matInput [(ngModel)]="name" name="name" maxlength="25" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Captain</mat-label>
            <mat-select [(ngModel)]="captain" name="captain" (selectionChange)="onCaptainChange()" required>
                <mat-option *ngFor="let player of captainOptions" [value]="player.id">
                    {{ player.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Vice Captain</mat-label>
            <mat-select [(ngModel)]="viceCaptain" name="viceCaptain" (selectionChange)="onViceCaptainChange()" required>
                <mat-option *ngFor="let player of viceCaptainOptions" [value]="player.id">
                    {{ player.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" (click)="save(f)" [disabled]="!f.valid">Save</button>
</mat-dialog-actions>