<mat-toolbar color="primary">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/team-selection">Team Selection</button>
    <button mat-button routerLink="/">Points</button>
    <button mat-button routerLink="/">Pick Team</button>
    <button mat-button routerLink="/">Transfers</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/">Profile</button>
    <button mat-button routerLink="/">Logout</button>
    <button mat-raised-button color="accent" routerLink="/admin">
        ADMIN PANEL <mat-icon>admin_panel_settings</mat-icon>
    </button>
</mat-toolbar>