<mat-toolbar color="primary">
    <button mat-button routerLink="/" *ngIf="!authData.id">Home</button>
    <button mat-button routerLink="/team-selection" *ngIf="authData.id && !authData.teamId"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Team Selection
    </button>
    <button mat-button routerLink="/pick-team" *ngIf="authData.id && authData.teamId"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Team
    </button>
    <button mat-button routerLink="/team-points" *ngIf="authData.id && authData.teamId"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Points
    </button>
    <button mat-button routerLink="/team-transfers" *ngIf="authData.id && authData.teamId"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Transfers
    </button>
    <button mat-button routerLink="/leagues" *ngIf="authData.id && authData.teamId"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Leagues
    </button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/admin" *ngIf="authData.id">
        ADMIN <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <button mat-button routerLink="/" *ngIf="authData.id" (click)="logout()">Logout</button>
</mat-toolbar>