<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Players">
        <div class="tab">
            <app-players></app-players>
        </div>
    </mat-tab>
    <mat-tab label="Clubs">
        <div class="tab">
            <app-clubs></app-clubs>
        </div>
    </mat-tab>
    <mat-tab label="Fixtures">
        <div class="tab">
            <app-fixtures></app-fixtures>
        </div>
    </mat-tab>
    <mat-tab label="Points">
        <div class="tab">
            <app-points></app-points>
        </div>
    </mat-tab>
</mat-tab-group>