<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button mat-raised-button (click)="onPrevious()" [disabled]="selectedGameweekNumber <= 1"
            class="navigation-button">
            <mat-icon inline>arrow_back</mat-icon>
            Previous
        </button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
        <h4><b>Gameweek {{selectedGameweekNumber > 0 ? selectedGameweekNumber : '/'}}</b></h4>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button mat-raised-button (click)="onNext()" [disabled]="selectedGameweekNumber >= gameweeksCount"
            class="navigation-button" style="float: right;">
            Next
            <mat-icon inline>arrow_forward</mat-icon>
        </button>
    </div>
</div>