<h2 mat-dialog-title>Player Details</h2>
<mat-dialog-content>
    <div class="row" style="text-align: center;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img [src]="getPlayerImage(player.image)" class="img-responsive" style="max-height: 200px;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row" style="background-color: indigo;">
                <h3 style="color: honeydew;">{{ player.name }}</h3>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 style="margin-bottom: 0px;">Price</h5>
                    <p>{{player.price}}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 style="margin-bottom: 0px;">Total</h5>
                    <p>{{player.totalPoints}}<span style="font-size: small;">pts</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5px; text-align: center;">
        <h4 style="background-color: indigo; color: honeydew;">Performance</h4>
    </div>
    <div class="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="gameweek">
                <th mat-header-cell *matHeaderCellDef> Gameweek </th>
                <td mat-cell *matCellDef="let element"> {{element.gameweek.orderNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef> Points </th>
                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator pageSize="5" hidePageSize></mat-paginator>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="width: 100%;">
        Add Player <mat-icon>person_add</mat-icon>
    </button>
</mat-dialog-actions>