<div class="row" style="margin-top: 20px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" style="width: 49%;">
    <div class="row">
      <app-player-selection-table *ngIf="signal" [players]="goalkeepers" position="Goalkeepers">
      </app-player-selection-table>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" style="float: right; width: 49%;">
    <div class="row">
      <app-player-selection-table *ngIf="signal" [players]="defenders" position="Defenders">
      </app-player-selection-table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" style="width: 49%;">
    <div class="row">
      <app-player-selection-table *ngIf="signal" [players]="midfielders" position="Midfielders">
      </app-player-selection-table>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" style="float: right; width: 49%;">
    <div class="row">
      <app-player-selection-table *ngIf="signal" [players]="forwards" position="Forwards"></app-player-selection-table>
    </div>
  </div>
</div>