.row {
    margin-bottom: 10px;
}

.example-action-buttons {
    margin-top: 10px;
}
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
  
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.match-date {
    width: 16.6%;
}

.match-venue {
    width: 24.9%;
}

.match-club-name {
    width: 16.6%;
}

.match-club-img {
    width: 5%;
}

.match-result {
    width: 8%;
}

@media (max-width: 768px) {
    .match-venue {
        display: none;
    }
    .match-result {
        width: 12%;
    }
    .match-date {
        width: 20%;
    }
}